.section-images{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: repeat(5, 1fr);
    gap: 20px;
    width: 50%;
    padding: 3rem 2rem;
}

.small_img{
    border-radius: 15px;
    cursor: pointer;
}

.big_img{
    border-radius: 15px;
    cursor: pointer;
    grid-column: 1/5;
    grid-row: 1/4;
}

.small_img:hover{
    opacity: 30%;
}
img.active{
    /* border: 4px solid #ff7d1b; */
    box-shadow: 0 0 0 4px #ff7d1b;
    opacity: 50%;
}

.btn{
    display: none;
}

@media screen and (max-width:1000px) {
    .section-images{
        padding: 5rem 2rem;
    }
}
@media screen and (max-width:930px) {
    .section-images{
        padding: 10rem 2rem;
    }
}
@media screen and (max-width:850px) {
    .section-images{
        width: 100%;
        margin: 0;
        padding: 0;
        margin-bottom: 3rem;
        margin-top: 2rem;
    }
    .big_img{
        cursor: default;
    }
}

@media screen and (max-width:450px) {
    /* mobile */
    .section-images{
        display: block;
        position: relative;
        margin-top: 4rem;
        margin-bottom: 0;
    }
    .small_img{
        display: none;
    }
    .section-images img{
        border-radius: 0;
    }
    .btn{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        position: absolute;
        top:50%;
        cursor: pointer;
    }
    .btn-prev{
        left: 10px;
    }
    .btn-next{
        right: 10px;
    }
    .btn img{
        width: 12px;
        height: 18px;
        cursor: pointer;
    }
    .big_img,.section-images img{
        cursor:auto;
    }
}

.popupSpace{
    position: fixed;
    z-index: 400;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.exit-popup-img{
    cursor: pointer;
    position: absolute;
    top:5%;
    right: 7%;
    z-index: 500;
}

.exit-popup-img > img{
    width: 20px;
    height: 20px;
}

.gridpopup{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: repeat(5, 1fr);
    gap: 20px;
    width: 500px;
    height: 500px;
    padding: 3rem 2rem;
    position: relative;
}

.popup{
    position: absolute;
    top:-1rem;
}

.btn-pop{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top:50%;
    cursor: pointer;
}

.btn-prev-pop{
    left: 10px;
}

.btn-next-pop{
    right: 10px;
}
