@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

:root {
  /* colors */
  --clr-blanc : #ffffff;
  --clr-black: #000000;
  /* page normal */
  --clr-orange-btn: #ff7d1b;
  --clr-light-orange-discount: #feefe1;
  --clr-light-gray-conter: #f7f8fd;
  --clr-ligne-gray: #929397;

  --clr-text-orange: #e1893e;
  --clr-text-gray: hsl(219, 9%, 45%);
  --clr-text-dark: #1d2026;
  --clr-text-dark-gray: #89898e;
  --clr-text-light-gray: #babdc2;

  /* hovers */
  --clr-hover-women: #ffac6a;
  --clr-hover-btn: #ed8234;

}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* set up the body */
body {
  font-family: "Kumbh Sans", sans-serif;
  line-height: 1.5;
  min-height: 100vh;
}

/* make images easier to work with */
img,
picutre {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
*,
*::before,
*::after {
  animation-duration: 0.01ms !important;
  animation-iteration-count: 1 !important;
  transition-duration: 0.01ms !important;
  scroll-behavior: auto !important;
}
}

#root{
  min-height: 100vh;
}
.App{
  height: 100vh;
}

/* styling */
body{
  padding: 0px 50px;
}

main{
  display: flex;
  align-items: center;
}



@media screen and (max-width:700px) {
  body{
    padding: 0px;
  }
}



@media (prefers-color-scheme: dark) {
  /* dark mode styles here (the same as light XD) */
}
